<h1>New Post</h1>
<article class="entry clearfix">
	<div class="entry-body">
		<%= form_for @post do |f| %>
		  <h1 class="title"><%= f.text_field :title %> </h1>
		  <%= f.text_area :body %> 
		  <%= label :image_url, "Picture URL:" %> <%= f.text_field :image_url %>  
		  <%= f.submit %>
		<% end %>
	</div>	
</article>